{% extends "base.html" %}

{% block content %}
<header>
    <h1>My Blogs</h1>
</header>
<section>
    <div class="list-group">
        {% for blog in blogs %}
        <div class="list-group-item">
            <h4 class="list-group-item-heading"><a href="{{url_for('post.my_post_index', blog_id=blog._id)}}">{{ blog.title }}</a> </h4>
            <p>
                 {{ blog.description }}.
            </p>
            <a class="btn btn-danger" href="{{url_for('blog.delete_my_blog', blog_id=blog._id)}}">Delete</a>
             <a class="btn btn-success" href="{{url_for('blog.edit_my_blog', blog_id=blog._id)}}">Edit</a>
        </div>
        {% endfor %}
    </div>

    <a class="btn btn-primary mt-3" href="{{ url_for('blog.create_blog') }}">
        Create new
    </a>


</section>
{% endblock %}